.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.registerpop{
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  .modalContainer{
    max-width: 700px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    .closeBtn{
      color: black;
      position: fixed;
      cursor: pointer;
      top: 4px;
      right: 8px;
    }
    .content{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 2rem;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
